*
{
	margin: 0px;
}

.container-fluid
{
	border-bottom: 1px solid black;
}
.header
{
	text-align: center;
	
}
.row
{
background: white;
color: black;
}
.col-md-4
{
	color: red;
}
.col-md-6
{
	color: green;
}

nav{
	border-bottom: 3px solid black;
}

img
{
	padding: 5px;
	
}

footer
{
	bottom: 0;
	width: auto;
	height: 30px;
	text-align: center;
	border-top: 3px solid black;
	display: block;
	box-sizing: border-box;
}
.carousel-inner > .item > img {
	margin: 0 auto;
  }
